body {
    background-color: rgb(214, 33, 184);
    text-align: center;
}


h1 {
    font-style:italic;
     color: blueviolet;
}

h2 {
 color: rgb(160, 126, 190);
    font-style: oblique;
}